[submodule "themes/chaschper"]
	path = themes/chaschper
	url = https://github.com/jcfischer/hugo-chaschper.git
[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
