[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/am1t/ghostwriter
